@font-face {
  font-family: "boldenvan";
  src: url("sources/boldenvan.ttf");
}

* {
  font-family: "DM Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
}

.marginSite {
  max-width: 1440px;
  margin: auto;
}

main {
  margin: auto;
}

h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}
h5 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

p,
li {
  font-size: 16px;
}

span {
  font-weight: 800;
}

.boutonAction {
  padding: 10px 16px;
  border-radius: 100px;
  border: 0px;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  gap: 8px;
  div {
    background-color: white;
    width: 23px;
    height: 23px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: end;
    img {
      width: 21px;
    }
  }
}

.img-bg {
  width: 100vw;
}

#fleche {
  position: absolute;
  width: 100px;
  left: 50%;
  right: 50%;
}

header {
  background-color: #ffde45;
  .marginSite {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    padding: 32px 36px;
    ul {
      margin: 0;
      display: flex;
      align-items: center;
      gap: 48px;
      padding: 0;
      img {
        max-width: 130px;
      }
      li {
        list-style-type: none;
        vertical-align: middle;
        a {
          color: black;
          text-decoration: none;
        }
      }
    }
    button {
      padding: 10px 16px;
      border-radius: 100px;
      background-color: black;
      border: 0px;
      color: white;
      font-size: 16px;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}

#presentation {
  background-color: #ffde45;
  padding-right: 36px;
  padding-left: 36px;
  padding-bottom: 40px;
  .marginSite {
    display: flex;
    align-items: center;
    #presentation__txt {
      width: 50%;
      h1 {
        margin: 0;
      }
      p {
        max-width: 550px;
        margin: 16px 0 16px 0;
        font-size: 18px;
        line-height: 26px;
      }
      button {
        background-color: black;
        color: white;
      }
    }
    #presentation__img {
      width: 50%;
      display: flex;
      justify-content: center;
      position: relative;
      img {
        max-width: 450px;
      }
      .wouf {
        position: absolute;
        max-width: 180px;
      }
      .gauche {
        left: 24px;
        top: 42px;
        transform: rotate(-7deg);
      }
      .droite {
        right: 48px;
        bottom: 42px;
        transform: rotate(11deg);
      }
    }
  }
}

#services {
  padding-top: 64px;
  background-color: #f9f3e8;
  padding-right: 36px;
  padding-left: 36px;
  .marginSite {
    display: flex;
    gap: 48px;
    #services__intro {
      max-width: 360px;
      h2 {
        margin: 0 0 12px 0;
      }
      p {
        margin: 0;
      }
    }
    #services__liste {
      display: flex;
      flex-direction: column;
      .services__card {
        border-top: 3px dashed black;
        padding: 36px 0px;
        display: flex;
        align-items: flex-start;
        gap: 32px;
        img {
          width: 50px;
        }
        h3 {
          margin: 0;
        }
        .services__card__txt {
          p {
            display: flex;
            gap: 16px;
          }
          button {
            background-color: #f9f3e8;
            border: 0px;
            padding: 0;
            text-decoration: underline;
            font-size: 16px;
          }
        }
        .services__card__tarifs {
          min-width: 100px;
          color: #ff6d33;
          display: flex;
          align-items: center;
          justify-content: end;
          gap: 8px;
          text-align: right;
          h4 {
            font-size: 18px;
            font-weight: 400;
          }
        }
      }
    }
  }
}

.bg-services {
  margin-top: -300px;
  position: absolute;
  z-index: -1;
}

#demarche {
  position: relative;
  margin-top: 136px;
  margin-bottom: 82px;
  padding-top: 64px;
  padding-right: 36px;
  padding-left: 36px;
  .marginSite {
    #demarche__intro {
      padding-bottom: 64px;
      display: flex;
      flex-direction: column;
      width: 50%;
      margin: auto;
      h2,
      p {
        text-align: center;
        margin: 0;
      }
      h2 {
        margin-bottom: 16px;
      }
      p {
        font-size: 18px;
        line-height: 26px;
      }
    }
    #demarche__liste {
      margin-bottom: 24px;
      display: flex;
      gap: 24px;
      .demarche-card {
        background-color: #f9f3e8;
        border-radius: 20px;
        padding: 24px;
        width: 33%;
        .demarche-card-num {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 16px;
          width: 16px;
          padding: 24px;
          margin: 0;
          background-color: #ff6d33;
          color: white;
          font-size: 32px;
          font-family: "boldenvan";
          border-radius: 100px;
          margin-top: -55px;
        }
        h3 {
          margin: 16px 0px;
        }
        p {
          margin: 0px 0px 16px 0px;
        }
        ul {
          padding-left: 16px;
          font-weight: 600;
        }
        button {
          border-radius: 50px;
          border: 0px;
          background-color: white;
          padding: 6px 8px;
          font-weight: 600;
          color: #ff6d33;
          font-size: 16px;
        }
        h3,
        li {
          color: #ff6d33;
        }
      }
    }
  }
}

.bg-demarche {
  position: absolute;
  left: 0;
  z-index: -1;
  margin-top: -70px;
}

.bloc__tips {
  box-shadow: 0px 0px 12px rgba(158, 158, 158, 0.25);
  background-color: white;
  display: flex;
  align-items: flex-start;
  border-radius: 30px;
  padding: 24px;
  gap: 16px;
  p {
    font-size: 16px;
    margin: 8px 0 0 0;
  }
}

#about {
  background-color: #f9f3e8;
  padding: 128px 36px;
  .marginSite {
    display: flex;
    align-items: center;
    gap: 24px;
    #about__img {
      width: 50%;
      img {
        width: 100%;
        max-width: 650px;
      }
    }
    #about__txt {
      max-width: 550px;
      width: 50%;
      button {
        background-color: #ffde45;
        margin-top: 16px;
      }
    }
  }
}

#contact {
  background-color: #f9f3e8;
  padding: 85px 36px;
  .marginSite {
    background-image: url(sources/bg-os.png);
    background-size: 100%;
    background-color: #ffbcd9;
    padding: 40px 0;
    border-radius: 30px;
  }
  #contact__img {
    display: flex;
    justify-content: center;
    gap: 16px;
    img {
      max-width: 180px;
    }
    .gauche {
      transform: rotate(-6deg);
    }
    .droite {
      transform: rotate(8deg);
    }
  }
  h2 {
    text-align: center;
    margin: 24px 0px;
  }
  #contact__coordonnees {
    display: flex;
    justify-content: center;
    gap: 48px;
    .contact__coordonnees__tel,
    .contact__coordonnees__mail {
      display: flex;
      gap: 8px;
    }
  }
}

.legal {
  background-color: #f9f3e8;
  color: #969696;
  font-size: 16px;
  padding-bottom: 32px;
  p {
    max-width: 1440px;
    margin: auto;
  }
}

#modal__liste {
  background-color: rgba(0, 0, 0, 0.75);
  width: 100vw;
  height: 100vh;
  display: flex;
  .modal__card {
    width: 50vw;
    background-color: white;
    margin: auto;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 24px;
    .modal__card__intro {
      background-color: #f9f3e8;
      border-radius: 30px 30px 0 0px;
      padding: 24px;
      display: flex;
      justify-content: space-between;
      h2 {
        margin: 0px;
      }
    }
    .modal__card__content {
      padding: 0 24px;
      div {
        display: flex;
        gap: 8px;
        h3 {
          margin: 0;
        }
      }
      ul {
        padding-left: 24px;
        margin: 8px 0 0 0;
      }
      p {
        margin: 8px 0 0 0;
      }
    }
  }
}
